{% extends 'main/layout.html' %}
{% load static %}

{% block title %}География{% endblock %}

{% block content %}
    <h1>География</h1>
    <br>
    {#    <p>Уровень зарплат по городам (в порядке убывания) (полагаю для свой професии)</p>#}
    {#    <p>Доля вакансий по городам (в порядке убывания) (полагаю для свой професии)</p>#}
    <h2>Зарплаты и доля IT-вакансий по городам</h2>
    <img src="{{ page.general_graphic.url }}" width="100%" style="min-width: 300px;"/>
    <div class="row">
        <div class="col">
            {{ page.general_salary_table | safe }}
        </div>
        <div class="col">
            {{ page.general_share_table | safe }}
        </div>
    </div>
    <br>
    <h2>{{ page.prof_subtitle }}</h2>
    <!-- Статистика посчитана по аналогичному алгоритму, только с датасетом из java-вакансий -->
    <img src="{{ page.prof_graphic.url }}" width="100%" style="min-width: 300px;" />
    <div class="row">
        <div class="col">
            {{ page.prof_salary_table | safe }}
        </div>
        <div class="col">
            {{ page.prof_share_table | safe }}
        </div>
    </div>
{% endblock %}