{% extends 'main/layout.html' %}
{% load static %}

{% block title %}География{% endblock %}

{% block content %}
    <h1>География</h1>
    <br>
    {#    <p>Уровень зарплат по городам (в порядке убывания) (полагаю для свой професии)</p>#}
    {#    <p>Доля вакансий по городам (в порядке убывания) (полагаю для свой професии)</p>#}
    <h2>Зарплаты и доля IT-вакансий по городам</h2>
    <img src="{% static 'main/img/general-city-stats.png' %}" width="100%" style="min-width: 300px;"/>
    <div class="row">
        <div class="col">
            <table class="table table-striped text-center">
                <thead>
                <tr>
                    <th scope="col">Город</th>
                    <th scope="col">Уровень зарплат</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Москва</td>
                    <td>76970</td>
                </tr>

                <tr>
                    <td>Санкт-Петербург</td>
                    <td>65286</td>
                </tr>

                <tr>
                    <td>Новосибирск</td>
                    <td>62254</td>
                </tr>

                <tr>
                    <td>Екатеринбург</td>
                    <td>60962</td>
                </tr>

                <tr>
                    <td>Казань</td>
                    <td>52580</td>
                </tr>

                <tr>
                    <td>Краснодар</td>
                    <td>51644</td>
                </tr>

                <tr>
                    <td>Челябинск</td>
                    <td>51265</td>
                </tr>

                <tr>
                    <td>Самара</td>
                    <td>50994</td>
                </tr>

                <tr>
                    <td>Пермь</td>
                    <td>48089</td>
                </tr>

                <tr>
                    <td>Нижний Новгород</td>
                    <td>47662</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-striped text-center">
                <thead>
                <tr>
                    <th scope="col">Город</th>
                    <th scope="col">Доля вакансий</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Москва</td>
                    <td>32.46%</td>
                </tr>

                <tr>
                    <td>Санкт-Петербург</td>
                    <td>11.97%</td>
                </tr>

                <tr>
                    <td>Новосибирск</td>
                    <td>2.71%</td>
                </tr>

                <tr>
                    <td>Казань</td>
                    <td>2.37%</td>
                </tr>

                <tr>
                    <td>Нижний Новгород</td>
                    <td>2.32%</td>
                </tr>

                <tr>
                    <td>Ростов-на-Дону</td>
                    <td>2.09%</td>
                </tr>

                <tr>
                    <td>Екатеринбург</td>
                    <td>2.07%</td>
                </tr>

                <tr>
                    <td>Краснодар</td>
                    <td>1.85%</td>
                </tr>

                <tr>
                    <td>Самара</td>
                    <td>1.43%</td>
                </tr>

                <tr>
                    <td>Воронеж</td>
                    <td>1.41%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <h2>Зарпалаты и доля вакансий на Java-разработчика по городам</h2>
    <!-- Статистика посчитана по аналогичному алгоритму, только с датасетом из java-вакансий -->
    <img src="{% static 'main/img/java-city-stats.png' %}" width="100%" style="min-width: 300px;"/>
    <div class="row">
        <div class="col">
            <table class="table table-striped text-center">
                <thead>
                <tr>
                    <th scope="col">Город</th>
                    <th scope="col">Уровень зарплат</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Москва</td>
                    <td>127040</td>
                </tr>

                <tr>
                    <td>Санкт-Петербург</td>
                    <td>106715</td>
                </tr>

                <tr>
                    <td>Самара</td>
                    <td>101735</td>
                </tr>

                <tr>
                    <td>Новосибирск</td>
                    <td>98054</td>
                </tr>

                <tr>
                    <td>Казань</td>
                    <td>93289</td>
                </tr>

                <tr>
                    <td>Краснодар</td>
                    <td>90385</td>
                </tr>

                <tr>
                    <td>Нижний Новгород</td>
                    <td>87567</td>
                </tr>

                <tr>
                    <td>Екатеринбург</td>
                    <td>87154</td>
                </tr>

                <tr>
                    <td>Пермь</td>
                    <td>86549</td>
                </tr>

                <tr>
                    <td>Омск</td>
                    <td>85427</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-striped text-center">
                <thead>
                <tr>
                    <th scope="col">Город</th>
                    <th scope="col">Доля вакансий</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Москва</td>
                    <td>34.58%</td>
                </tr>

                <tr>
                    <td>Санкт-Петербург</td>
                    <td>19.21%</td>
                </tr>

                <tr>
                    <td>Новосибирск</td>
                    <td>5.59%</td>
                </tr>

                <tr>
                    <td>Казань</td>
                    <td>2.65%</td>
                </tr>

                <tr>
                    <td>Екатеринбург</td>
                    <td>2.54%</td>
                </tr>

                <tr>
                    <td>Нижний Новгород</td>
                    <td>2.44%</td>
                </tr>

                <tr>
                    <td>Ростов-на-Дону</td>
                    <td>1.54%</td>
                </tr>

                <tr>
                    <td>Пермь</td>
                    <td>1.51%</td>
                </tr>

                <tr>
                    <td>Краснодар</td>
                    <td>1.44%</td>
                </tr>

                <tr>
                    <td>Челябинск</td>
                    <td>1.43%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}