{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1>Java-разработчик</h1>
    <p>
        Владение языком программирования Java открывает двери к огромному количеству разных проектов. Разработчик может
        попробовать себя в создании мобильных приложений, сайтов, игр, а также в работе с данными и в исследованиях.
        Востребованный язык не позволит остаться джависту без работы. Кроме того, Java — отличный выбор в качестве
        первого языка программирования, так как многие заложенные в нем принципы и инструменты были переняты другими
        языками. Обладая даже базовыми знаниями в Java, намного легче подступиться к изучению чего-то еще.
    </p>
    <h2>Что нужно знать о языке программирования Java</h2>
    <p>
        Java — это язык программирования, который появился в 1995 году и был разработан для настройки бытовых
        электронных устройств. В том числе, кофемашин. Именно оттуда и пошло это экзотическое название, заимствованное у
        индонезийской марки кофе Java. А хорошо узнаваемый логотип языка украсила кружка горячего свежесваренного
        напитка.
    </p>

    <div class="d-flex justify-content-center">
        <figure class="figure py-3 text-center">
            <img class="figure-img" src="{% static 'main/img/java-logo.png' %}" width="100%" style="max-width: 500px;"
                 alt="Логотип Java"/>
            <figcaption class="figure-caption text-center">Логотип Java</figcaption>
        </figure>
    </div>

    <p>
        Java — мультифункциональный объектно-ориентированный язык программирования. Сейчас расшифруем.
        Мультифункциональность — возможность создавать на Java самые разные приложения, а объектно-ориентированность
        означает, что в нем можно создавать объекты и работать с ними. Например, если речь о разработке программы для
        той же кофемашины, можно создать объект «напиток» и задать ему набор свойств: название, рецепт приготовления,
        стоимость. И далее уже работать не с отдельными разрозненными свойствами, а с объектом целиком: сохранять его,
        передавать внутри программы и так далее. Также этот язык относится к кроссплатформенным: код, написанный на
        Java, будет с одинаковым успехом работать на разных операционных системах, например, Windows, MacOS, Linux и
        Android.
    </p>
    <p>
        Наиболее популярная сегодня среда разработки на Java — это <a href="https://www.jetbrains.com/ru-ru/idea/">IntelliJ
        IDEA</a> — бесплатное приложение для установки
        на компьютер, в котором программисты пишут код и создают Java-приложения.
    </p>
    <p>
        С момента запуска Java в ИТ-индустрии менялось многое: появлялись более «дружелюбные» по синтаксису или
        специализированные под конкретные задачи языки, вместе с новыми продуктами росли сферы применения
        программирования. Но одно оставалось неизменным: уже более 20 лет Java сохраняет лидерские позиции в топ-3 самых
        разных рейтингов. Например, в ежемесячном рейтинге <a href="https://www.tiobe.com/tiobe-index/">TIOBE</a>,
        оценивающем популярность языков по количеству
        поисковых запросов. Почему так получилось?
    </p>

    <blockquote class="blockquote">
        <p class="mb-0">
            Востребованность Java объясняется рядом факторов. Во-первых, это сочетание относительной
            простоты языка и возможности создавать программное обеспечение любой сложности. Во-вторых, удобство
            заложенных в Java концепций, которые активно перенимаются другими языками. Например, статическая типизация,
            когда каждая переменная имеет заданное и неизменяемое по мере работы кода значение: число, строка, дата.
            Также Java прочно вошла в инструментарий крупных компаний. Так, язык является наиболее распространенным в
            банковской сфере и заслужил репутацию самого защищенного от хакерских атак
        </p>
        <footer class="blockquote-footer pt-3">
            Даниил Пилипенко, программный директор факультета backend-разработки
            направления «Программирование» Skillbox и директор центра подбора ИТ-специалистов SymbioWay
        </footer>
    </blockquote>

    <figure class="figure py-3">
        <img class="figure-img" src="{% static 'main/img/tiobe.png' %}" width="100%" alt="Индекс TIOBE"/>
        <figcaption class="figure-caption">Рейтинг <a href="https://www.tiobe.com/tiobe-index/">TIOBE</a></figcaption>
    </figure>

    <h2>Чем занимается Java-разработчик</h2>
    <p>
        Применение Java обширно. Во-первых, Java-разработчики могут заниматься созданием desktop-приложений. Для
        примера: на Java написаны игра Minecraft (Java Edition), бесплатный аналог Microsoft Office — приложение
        OpenOffice (не полностью на Java, но в значительной мере) и большое количество продуктов «европейского аналога»
        1С — компании SAP.
    </p>
    <p>
        На Java можно создавать консольные приложения, которые запускаются и работают в командной строке, а также
        различные сервисы и утилиты. Долгие годы Java оставалась единственным языком программирования для создания
        мобильных приложений на базе Android. В 2017 году появился язык программирования Kotlin, который через какое-то
        время стал основным языком Android-разработки. Kotlin — это своего рода продолжение Java. Поэтому, владея
        навыками в прародителе, освоить его достаточно просто. Сегодня порядка 30% Android-приложений все еще
        разрабатываются на Java.
    </p>
    <p>
        Еще одна быстрорастущая сфера применения языка Java — все, что связано с обработкой больших данных и сферой Data
        Science. Этот сегмент она разделяет с языком программирования Python. На Java реализуют решения
        инфраструктурного уровня. Например, на ней написана одна из самых распространенных систем хранения и обработки
        больших данных Hadoop.
    </p>
    <p>
        Основное же назначение Java — это разработка серверной части веб-приложений — приложений, к которым мы получаем
        доступ через интернет. На Java написаны такие сервисы как «Яндекс.Музыка», «Яндекс.Маркет», «МойСклад»,
        «Альфа.Клик», «Сбербанк.Онлайн» или социальная сеть «Одноклассники». На Java разрабатывают именно серверную
        часть веб-приложений — так называемый бэкенд.
    </p>
    <p>
        По данным ресурса «Хабр.Карьера», большая часть российских вакансий на бэкенд приходится именно на Java, которая
        занимает в структуре спроса на бэкенд-разработчиков более 30%.
    </p>

    <h2>Сколько зарабатывает Java-разработчик</h2>
    <p>
        В ИТ-индустрии принята градация специалистов, которая зависит от уровня самостоятельности и коррелирует с
        длительностью опыта работы: junior (до года), middle (1–3 года) и senior (больше 3-х лет). Зарплатные вилки
        московских разработчиков в среднем представлены следующим образом:
    </p>
    <ul>
        <li>junior — ₽60–140 тыс.</li>
        <li>middle — ₽130–250 тыс.</li>
        <li>senior — ₽220–350 тыс.</li>
    </ul>

    <h2>Как стать Java-разработчиком</h2>
    <p>
        Этот путь начинается с учебы. Рынок предлагает множество вариантов обучения Java: от классических, вроде
        колледжей и
        университетов, до программ дополнительного профессионального образования, буткемпов и краткосрочных марафонов.
        Конечно, у человека всегда остается опция самостоятельного обучения, но это далеко не самый оптимальный
        сценарий.
        Даже имея перед глазами четкий список навыков, которые нужно освоить, можно легко заплутать в многочисленных
        ресурсах и информации из открытых источников. В то же время, сформированный образовательный продукт своей целью
        видит создание самого короткого пути пользователя к его карьерной цели. Считается, что навыки уровня junior
        можно в
        среднем приобрести за 6–12 месяцев обучения.
    </p>

    <h3>Hard Skills</h3>
    <ul>
        <li>Знание синтаксиса языка (типы данных, операторы).</li>
        <li>Умение работать с коллекциями в Java — специальными хранилищами, поддерживающими различные способы
            накопления и
            упорядочения объектов для получения быстрого к ним доступа.
        </li>
        <li>Умение работать с файлами — читать их и записывать.</li>
        <li>Знание принципов объектно-ориентированного программирования (ООП) — в частности, таких, как наследование,
            полиморфизм и инкапсуляция.
        </li>
        <li>Умение создавать многопоточные приложения, в которых различные задачи могут выполняться одновременно.</li>
        <li>Знание фреймворка Spring — это специальное программное обеспечение для создания оптимизированных и
            структурированных
            веб-приложений, а также библиотека со множеством полезных функций и инструментов.
        </li>
        <li>Умение работать с командной строкой bash — инструментом для программ в текстовом формате.</li>
        <li>Знание языка SQL и умение работать с реляционными базами данных, которые используются практически в любом
            веб-приложении для хранения данных в виде связанных друг с другом таблиц.
        </li>
        <li>Умение работать с системой контроля версий Git — инструментом, позволяющим сохранять промежуточные версии
            программного кода и отслеживать его изменения при коллективной разработке.
        </li>
        <li>Знание принципов клиент-серверного взаимодействия — протокола HTTP и стандарта REST, по которым работают
            большинство
            современных веб-приложений.
        </li>
        <li>Владение инструментами автоматизированного тестирования — JUnit и Mokito, позволяющим автоматически
            проверять
            код
            каждый раз, когда в него были внесены какие-то изменения.
        </li>
        <li>Понимание принципов «чистого кода» и умение его писать, что необходимо для разработки легко поддерживаемых
            приложений, особенно, в командах.
        </li>
    </ul>

    <p>
        Java — это про командную разработку. Поэтому в стандартном пакете <b>soft-skills</b> особое внимание
        работодатели
        уделяют умению работать в команде. А также желанию развиваться, учиться новому и уровню английского языка.
    </p>
    <p>
        Этапы трудоустройства Java-разработчика включают в себя подготовку резюме, поиск вакансий, отправку откликов,
        телефонное интервью, собеседование, тестовое задание, оффер. Глобально здесь все устроено так же, как и в других
        отраслях. Поэтому подробнее остановимся на особенностях.
    </p>

    <h2>Где искать работу Java-разработчику</h2>
    <p>
        Помимо работных сайтов вроде <a href="https://hh.ru/">hh.ru</a> и <a
            href="https://www.superjob.ru/">Superjob</a>, ИТ-специалисты могут обращаться к отраслевому ресурсу
        «<a href="https://career.habr.com/">Хабр.Карьера</a>». Также вакансии можно искать на специальных карьерных
        страницах сайтов компаний, например, в
        «Яндексе», «Одноклассниках», «Сбере» и других. Их удобный интерфейс позволяет указать язык программирования и
        свой уровень, подобрать подходящие варианты. Сегодня для поиска работы активно используются и новые медиа,
        например, отраслевые Telegram-каналы learn.java и Java jobs. С трудоустройством могут помочь и образовательные
        платформы. Например, в Skillbox существует Центр карьеры. Это своего рода «мост» между работодателем и
        студентами. Специалисты центра находятся в постоянном контакте с партнерскими компаниями, собирают вакансии,
        подбирают студентов с релевантным опытом и организовывают собеседования.
    </p>
    <p>
        В резюме Java-разработчику следует отобразить список своих технических навыков и знаний, напротив каждого можно
        проставить балл с собственной оценкой уровня. Также даже начинающим разработчикам рекомендуется собирать
        портфолио с практическими работами. Сделать это можно с помощью ссылки на репозиторий GitHub. В нем можно
        хранить свой код, реализованные во время обучения программы и пет-проекты, которые разработчик создает для себя
        в свободное время.</p>
    <p>
        Полезная практика для начинающих разработчиков, которые не всегда могут похвастаться большим опытом, —
        отправлять
        вместе с откликами на вакансии сопроводительные письма с небольшим рассказом о своем пути в программировании и
        причинах интереса к позиции. Это поможет выделиться среди других соискателей и повысит шансы перейти на
        следующий этап.
    </p>
    <p>
        На собеседовании работодатель будет оценивать знание основ Java устно или через тест. Например, стандартные
        вопросы могут выглядеть так: «В чем заключаются особенности языка программирования Java?», «Можете ли вы
        перечислить важные методы из класса Object?», «Назовите известные вам <a
            href="https://www.edureka.co/blog/interview-questions/java-interview-questions/#Spring">модули</a>
        фреймворка Spring». Также кандидата
        могут попросить написать код для решения той или иной задачи. Если соискатель прошел обучение недавно, эти этапы
        не должны составить труда.
    </p>

    <p>Статья взята с сайта
        <a href="https://trends.rbc.ru/trends/education/628c7c639a794726758c8214">Тренды РБК</a>
    </p>

{% endblock %}