{% extends 'main/layout.html' %}

{% block title %}Последние вакансии{% endblock %}

{% block content %}
    <h1>Последние вакансии</h1>
    <p>При посещении страницы, необходимо выгружать из API HH (https://api.hh.ru/) в реальном времени IT-вакансии
        соотвествующие выбранной профессии за любой прошедший будний день декабря (максимум 10 штук, отсортированных по
        дате публикации вакансии)</p>
    <p>Элементы списка должны содержать следующие поля:</p>
    <ul>
        <li>Название вакансии;</li>
        <li>Описание вакансии (*повышенная сложность, требует доп. GET-запроса);</li>
        <li>Навыки (в строку, через запятую) (*повышенная сложность, требует доп. GET-запроса);</li>
        <li>Компания;</li>
        <li>Оклад;</li>
        <li>Название региона;</li>
        <li>Дату публикации вакансии.</li>
    </ul>
{% endblock %}