body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.expandable {
    flex: 1 1 auto;
    display: flex;
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
    text-decoration: none;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

